@import './node_modules/bootstrap/scss/bootstrap.scss';

$bg-green: #d5e6a0;
$bg-spinner-blue: rgb(230, 243, 255);

html {
    font-size: 15px;
}

.laundry-form {
    @extend .py-4;
    @extend .bg-color-blue;
    position: relative;
}

.laundry-step {
    width: 100%;
    margin: 0px auto;
    &:not(:first-child) {
        @extend .pt-4;
    }

    @include media-breakpoint-up(md) {
        width: 50%;
    }
}

.header {
    height: 100vh;
}

.bg-color-green {
    background-color: $bg-green;
}
.bg-color-blue {
    background-color: $bg-spinner-blue;
}

.content-wrapper {
    height: 100%;
}

.main {
    @extend .rounded-circle;
    background-color: $bg-spinner-blue;
    border: 10px solid black;    
    width: 50vh;
    height: 50vh;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 10px $white inset;
    text-transform: uppercase;

    // id="vrstaTkanine"
    // id="sadrzajTkanine"
    // id="vrstaOdece"
    // id="lokacija"

    @include media-breakpoint-up(md) {
        width: 70vh;
        height: 70vh;
    
    }
}

.text-black {
    color: $black;
}

.spinning {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    z-index: -1;
}

.back-to-top {
    span {
        height: 75px;
    }
}

.image-wrapper {
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.product-list {
    .product {
        width: 200px;
        margin: 0 0.5rem 0.5rem 0;

        p {
            text-align: center;
        }
        // @include media-breakpoint-up(md) {
        //     width: 100%;
        // }
    }
}

.error-message {
    color: red;
    font-size: 2rem;
}